.notification
.left-side
  = render 'shared/side_bar'
.right-side
  .header
    .header-left
    = @group.name
    %p.name Member：
    .header-right
      = link_to "Edit", "/groups/#{current_user.id}/edit", class: "edit-button"
  .main-wide
    .main
      = render @messages
  .footer
    .write
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form-icon__image' do
          = fa_icon 'picture-o', class: 'icon-image'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
